.image_panel1{
    padding-top: 20px;
    min-height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
.image_panel2{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(229, 226, 229);
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
.classimage{
    width: 50%;
    display: flex;
    justify-content: center;
}
.classimage img{
    width: 50%;
    box-shadow: 0 0 20px 2px rgb(25, 56, 56);
}
.text_list_images{
     width: 50%;

}

.text_list_images{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.class_list1{
    display: flex;
}
.classlist_img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
